[Unit]
Description=TDX-local taiko-geth
After=runtime-init.service network-online.target
Requires=runtime-init.service
Wants=network-online.target

[Service]
User=taiko-geth
Group=taiko-geth
EnvironmentFile=/etc/gaiko2/tdxgeth.env
ExecStart=/usr/local/bin/taiko-geth-tdx.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
