[Unit]
Description=TDXS quote socket

[Socket]
ListenStream=/var/tdxs.sock
SocketMode=0660
SocketUser=root
SocketGroup=tdx
Accept=false

[Install]
WantedBy=sockets.target
